version: '3.1'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 28u3423b43b4h234h
      POSTGRES_DB: ordina-pos
  redis:
    image: redis
    restart: always
    ports:
      - "6378:6379"
      